body {
	font-family: "Droid Sans Mono", "Lucida Console", "Andale Mono", "Courier New", "Courier", monospace;
	font-size:9px;
	line-height: 9px;
	margin:0;
	background-color:#ffffff;
}
#progress {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
#art {
	position:relative;
	margin:auto;
	width:360px;
	height:460px;
	overflow:hidden;
}
.character {
	position:absolute;
	text-align:center;
}